<h1>Registration <small>I'm a client</small></h1>

<%= simple_form_for @form, as: :user, url: register_new_client_path, html: { id: "new-client" } do |f| %>
 <%= f.input :email, required: false %>

 <%= f.input :password, required: false %>

 <%= f.input :password_confirmation, required: false %>

 <%= f.button :submit, "Register", class: "btn-primary" %>
<% end %>
